body {
	background: #E2EAED;
	font-size: 12px;
	font-family: sans-serif, verdana;
	color: #888;
	text-align: center;
}

#Content p {
	padding-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 10px;
	text-align: left;
}

#Menu {
	background: #fff;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

tr {
	text-align: right;
}

th {
	width: 150px;
}

ul {
	list-style-type: none;
	height: 50px;
	text-align: left;
}

li {
	display: inline-block;
	width: 110px;
	margin-top: 15px;
}

ul li a {
	text-decoration: none;
	color: grey;
}

a:hover {
	color: red;
}

#Content {
	background: #fff;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	min-height: 300px;
}

.logo {
	height: 80px;
	padding-top: 10px;
}

h2 {
	text-align: center;
	padding: 10px;
}

#msgs {
	border: 2px solid #369100;
	border-radius: 5px;
	background: #9CEF6C;
	min-height: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#error {
	border: 2px solid #FF7373;
	border-radius: 5px;
	background: red;
	min-height: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

/* menu voor admin */
ul li ul {
	display: none;
}

ul li:hover  ul {
	position: absolute;
	display: block;
	margin-top: 0px;
	margin-left: -40px;
}

ul li ul li a {
	border: 1px solid grey;
	text-decoration: none;
	padding: 8px;
	background: #E2EAED;
}

ul li ul li a:hover {
	background: lightgrey;
	padding: 8px;
	color: red;
}