<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

<!-- CONTEXT LISTENER -->
	<listener>
		<listener-class>servlets.algemeneServlets.MyServletContextListener
		</listener-class>
	</listener>

<!-- ALGEMENE SERVLETS -->
	<!-- Registreer Servlet -->
	<servlet>
		<servlet-name>Registreer Servlet</servlet-name>
		<servlet-class>servlets.algemeneServlets.RegistreerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registreer Servlet</servlet-name>
		<url-pattern>/RegistreerServlet.do</url-pattern>
	</servlet-mapping>

	<!-- Inlog Servlet -->
	<servlet>
		<servlet-name>Inlog Servlet</servlet-name>
		<servlet-class>servlets.algemeneServlets.InlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inlog Servlet</servlet-name>
		<url-pattern>/InlogServlet.do</url-pattern>
	</servlet-mapping>

	<!-- Uitlog Servlet -->
	<servlet>
		<servlet-name>Uitlog Servlet</servlet-name>
		<servlet-class>servlets.algemeneServlets.UitlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Uitlog Servlet</servlet-name>
		<url-pattern>/UitlogServlet</url-pattern>
	</servlet-mapping>

<!-- KLANT SERVLETS -->
	<!-- Account Wijzigen Servlet -->
	<servlet>
		<servlet-name>Account Wijzigen Servlet</servlet-name>
		<servlet-class>servlets.klantServlets.AccountWijzigenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Account Wijzigen Servlet</servlet-name>
		<url-pattern>/klant/AccountWijzigenServlet.do</url-pattern>
	</servlet-mapping>

	<!-- Registreer Auto Servlet -->
	<servlet>
		<servlet-name>Registreer Auto Servlet</servlet-name>
		<servlet-class>servlets.klantServlets.RegistreerAutoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registreer Auto Servlet</servlet-name>
		<url-pattern>/klant/RegistreerAutoServlet.do</url-pattern>
	</servlet-mapping>
	
	<!-- Klus Aanmaken Servlet -->
	<servlet>
		<servlet-name>Klus Aanmaken Servlet</servlet-name>
		<servlet-class>servlets.klantServlets.KlusAanmakenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klus Aanmaken Servlet</servlet-name>
		<url-pattern>/klant/KlusAanmakenServlet.do</url-pattern>
	</servlet-mapping>
	

<!-- MONTEUR SERVLETS -->
	<!-- Klus Uitkiezen Servlet -->
	<servlet>
		<servlet-name>Klus Uitkiezen Servlet</servlet-name>
		<servlet-class>servlets.monteurServlets.KlusUitkiezenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klus Uitkiezen Servlet</servlet-name>
		<url-pattern>/monteur/KlusUitkiezenServlet</url-pattern>
	</servlet-mapping>

	<!-- Klus Bijwerken Servlet -->
	<servlet>
		<servlet-name>Klus Bijwerken Servlet</servlet-name>
		<servlet-class>servlets.monteurServlets.KlusBijwerkenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klus Bijwerken Servlet</servlet-name>
		<url-pattern>/monteur/KlusBijwerkenServlet.do</url-pattern>
	</servlet-mapping>

	<!-- Klus Afronden Servlet -->
	<servlet>
		<servlet-name>Klus Afronden Servlet</servlet-name>
		<servlet-class>servlets.monteurServlets.KlusAfrondenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klus Afronden Servlet</servlet-name>
		<url-pattern>/monteur/KlusAfrondenServlet</url-pattern>
	</servlet-mapping>

<!-- ADMIN SERVLETS -->
	<!-- Klus Factureren Servlet -->
	<servlet>
		<servlet-name>Klus Factureren Servlet</servlet-name>
		<servlet-class>servlets.adminServlets.KlusFacturerenServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Klus Factureren Servlet</servlet-name>
		<url-pattern>/admin/KlusFacturerenServlet</url-pattern>
	</servlet-mapping>
	
	<!-- Registreer Monteur Servlet -->
	<servlet>
		<servlet-name>Registreer Monteur Servlet</servlet-name>
		<servlet-class>servlets.adminServlets.RegistreerMonteurServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registreer Monteur Servlet</servlet-name>
		<url-pattern>/admin/RegistreerMonteurServlet.do</url-pattern>
	</servlet-mapping>

	<!-- Voorraad Overzicht Servlet -->
	<servlet>
		<servlet-name>Voorraad Overzicht Servlet</servlet-name>
		<servlet-class>servlets.adminServlets.VoorraadOverzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Voorraad Overzicht Servlet</servlet-name>
		<url-pattern>/admin/VoorraadOverzichtServlet.do</url-pattern>
	</servlet-mapping>
<!-- Filter Servlets -->
	<!-- Hier komen filter mappings -->

</web-app>